body {
    font-family: Arial, Helvetica, sans-serif;
    background: #8fb289;
    margin: 0;
    padding: 0;
}

.titulo {
    text-align: start;
    background: white;
    width: 45%;
    margin: 30px auto;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.contenedor {
    display: flex;              
    flex-direction: row;        
    justify-content: center;    
    align-items: flex-start;
    gap: 30px;                   
    margin-top: 30px;
}

.card {
    width: 300px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    overflow: hidden;
    

}

img {
    width: 100%;
    height: 220px;
    object-fit: fill;
    border-bottom-right-radius: 160px;
}

.info {
    padding: 20px;
    text-align: left;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: #0d1b3f;
    letter-spacing: 1px;
}

.cargo {
    color: #e53935;
    font-weight: bold;
    font-size: 14px;
}

p {
    margin-top: 10px;
    font-size: 14px;
    color: #444;
    text-align: justify;
}

.redes {
    margin-top: 15px;
}

.redes i {
    margin-right: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.redes i:hover {
    transform: scale(1.2);
}
