body {
    font-family: Arial, Helvetica, sans-serif;
    background: #8fb289;
    margin: 0;
    padding: 0;
}

.titulo {
    text-align: start;
    background: white;
    width: 45%;
    margin: 30px auto;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.contenedor {
    display: flex;              
    flex-direction: row;        
    justify-content: center;    
    align-items: flex-start;
    gap: 30px;                   
    margin-top: 30px;
}

.card {
    width: 300px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    overflow: hidden;
    

}

img {
    width: 100%;
    height: 220px;
    object-fit: fill;
    border-bottom-right-radius: 160px;
}

.info {
    padding: 20px;
    text-align: left;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: #0d1b3f;
    letter-spacing: 1px;
}

.cargo {
    color: #e53935;
    font-weight: bold;
    font-size: 14px;
}

p {
    margin-top: 10px;
    font-size: 14px;
    color: #444;
    text-align: justify;
}

.redes {
    margin-top: 15px;
}

.redes i {
    margin-right: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.redes i:hover {
    transform: scale(1.2);
}
TRANSICIONES Y COLORES 


.card {
    transition: transform 0.35s ease, box-shadow 0.35s ease, background-color 0.35s ease;
}


.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);
    background-color: #ce4c61;
}


.card img {
    transition: transform 0.35s ease;
}

.card:hover img {
    transform: scale(1.05);
}


.card h3 {
    transition: color 0.3s ease;
}

.card:hover h3 {
    color: #ff4f8b;
}


.cargo {
    transition: color 0.3s ease;
}

.card:hover .cargo {
    color: #6a5acd;
}


.card p {
    transition: color 0.3s ease;
}

.card:hover p {
    color: #444;
}


.redes i {
    color: #555;
    transition: color 0.3s ease, transform 0.3s ease;
}

.redes i:hover {
    color: #ff4f8b;
    transform: scale(1.25);
}
